*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
}

/* navbar設定 */
nav{
    height: 5rem;
    width: 100vw;
    position: fixed;
    top: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
#logo{
    height: 100%;
    object-fit: contain;
}
#linkList{
    width: 12rem;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
nav a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* 整體物件比例 */
.container{
    margin: 0;
    padding: 5rem;
    display: flex;
    align-items: center;
    min-height: 100vh;
}
/* 自我介紹 */
.intro{
    background-color: rgb(227, 224, 224);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.intro>h1{
    align-self: self-start;
}
.intro>p{
    text-align: justify;
}

/* 作品集 */
/* 作品集最外圈 */
.works{
    height: 100vh;
    padding: 0;
    background-color: rgb(182, 179, 179);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 展示區 */
.slider{
    width: 100%;
    height: 90%;
    border: 1px solid black;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.work{
    width: 100%;
    height: 90%;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.work>img{
    
    max-height: 100%;
    object-fit: contain;
    border: 0.2rem solid whitesmoke;
    margin: 0.5rem;
    border-radius: 1rem;

}
.work>h3{
    padding:  0 1rem 0;
    border-radius: 1rem;
    background-color: aliceblue;
    position: absolute;
    bottom: 1rem;
    color: rgb(52, 51, 51);
    opacity: 70%;
}

/* 縮圖利表 */
.thumbnails{
    width: 100%;
    height: 10%;
    border: 1px solid black;
    display: flex;
    align-items: end;
    padding-bottom: 0.25rem;
}
.thumbnail{
    position: absolute;
    width: 3rem;
    height: 3rem;
    transition: 0.5s;
}
.thumbnail img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.25rem solid white;
    object-fit: cover;
}

.thumbnail:hover{
    transition: 0.25s;
    width: 4rem;
    height: 4rem;
    z-index: 10;
}

.hide{
    display: none;
}

/* 聯絡方式 */
.contact{
    background-color: rgb(104, 99, 99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
/* 問候 */
.contact h1{
    font-size: xx-large;
}
/* 連結 */
.contact ul{
    font-size: large;
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.contact li{
    list-style-type: none;
    
}
.contact a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 1rem;
}
/* footer */
footer{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0;
}